@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif;
}

body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main{
  flex-grow: 1;
  display: flex;
  align-items: center;
}

p{
  font-size: 16px;
}

footer {
  font-size: 11px;
  text-align: center;
}

footer a {
  color: hsl(228, 45%, 44%);
}
